{% extends "main.html" %}
{% block content %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
			<a href="{{url_for('disconnect')}}">Disconnect<a/>
		</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Card Catalog</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	
	<div class = "leftcol">
		<h2>Card Categories</h2>
		<div class="row padding-top padding-bottom">
			<div class="col-md-1"></div>
			<div class="col-md-10 padding-none">
				<a href="{{url_for('newCategory')}}">
					<button class="btn btn-default" id="new-category">
						<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Category
					</button>
				</a>
			</div>
			<div class="col-md-1"></div>
		</div>

		{% for category in categories %}
			<a href = "{{url_for('showMenu', category_id = category.id)}}">
				<div class="row">
					<div class="col-md-1"></div>
						<div class="col-md-10 category-list">
							<h3>{{category.name}}</h3>
						</div>
					<div class="col-md-1"></div>
				</div>
			</a>
		{% endfor %}
	</div>
	<div class = "column">
		<h2>New items</h2>
		<a href="{{url_for('newMenuItem')}}">
			<button class="btn btn-default" id="new-item">
				<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Menu Item
			</button>
		</a>
		{% for item in items %}
			<a href = "{{url_for('showMenuItem', category_id = item.category_id, item_id = item.id)}}">
				<h3>{{item.name}} - {{item.categoryName()}}</h3>
			</a>
			{%  if userid == item.user_id %}
			<a href="{{url_for('editMenuItem', menu_id=item.id  ) }}">Edit</a> | 
			<a href="{{url_for('deleteMenuItem', menu_id=item.id  ) }}">Delete</a>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
